{% extends 'base.html.twig' %}

{% block title %}Penalty index{% endblock %}

{% block body %}
    <h1>Penalty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for penalty in penalties %}
            <tr>
                <td>{{ penalty.id }}</td>
                <td>{{ penalty.date ? penalty.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ penalty.duration ? penalty.duration|date('H:i:s') : '' }}</td>
                <td>{{ penalty.label }}</td>
                <td>
                    <a href="{{ path('penalty_show', {'id': penalty.id}) }}">show</a>
                    <a href="{{ path('penalty_edit', {'id': penalty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('penalty_new') }}">Create new</a>
{% endblock %}
